<div class="h-full bg-gradient-to-b from-sky-50 to-blue-600">
  <section>
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1 class="max-w-2xl mb-4 text-indigo-900 xl:text-6xl text-4xl font-extrabold leading-none md:text-5xl xl:text-7xl dark:text-white mt-5">The Cheapest Textbooks</h1>
        <h2 class="max-w-2xl mb-4 text-indigo-500 text-2xl font-bold md:text-2xl xl:text-2xl dark:text-white pt-5">Save Up To 90% On Millions <br> Of Titles</h2>
        <p class="max-w-2xl mb-6 font-light text-gray-700 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,sed diam nonumy eirmod tempor invidunt ut labore etdolore magna</p>
        <a href="#" class="inline-flex items-center text-white bg-indigo-500 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-base px-10 py-3.5 text-center dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800">
          Get started
          <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <%= image_tag 'hero_illustration.svg', height: 300, width: 500 %>
      </div>
    </div>
  </section>
  <section>
    <div class="gap-16 items-center py-4 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-4 lg:px-4">
      <div class="grid grid-cols-1 mt-8">
        <%= image_tag 'group_chat.png'%>
      </div>
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold dark:text-white text-white">Our Commitment</h2>
        <p class="mb-4 text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
      </div>
    </div>
  </section>

  <section class="pb-10">
    <div class="py-16 mx-auto max-w-screen-xl px-4">
      <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight text-white leading-tight text-center dark:text-white md:text-4xl">Trusted By Awesome <span class="text-yellow-400"> Clients </span> </h2>
      <div class="grid xl:grid-cols-6 gap-8 sm:gap-12 md:grid-cols-3 lg:grid-cols-6">
        <a href="#" class="flex justify-center items-center">
          <%=image_tag 'binance.svg'%>
          <span class="ml-4 font-bold text-2xl text-gray-50"> Binance </span>
        </a>

        <a href="#" class="flex justify-center items-center">
          <%=image_tag 'bitcoin.svg'%>
          <span class="ml-4 font-bold text-2xl text-gray-50"> Bitcoin </span>
        </a>

        <a href="#" class="flex justify-center items-center">
          <%=image_tag 'solana.svg'%>
          <span class="ml-4 font-bold text-2xl text-gray-50"> Solana </span>
        </a>

        <a href="#" class="flex justify-center items-center">
          <%=image_tag 'ethereum.svg'%>
          <span class="ml-4 font-bold text-2xl text-gray-50"> Ethereum </span>
        </a>

        <a href="#" class="flex justify-center items-center">
          <%=image_tag 'tether.svg'%>
          <span class="ml-4 font-bold text-2xl text-gray-50"> Tether </span>
        </a>

          <a href="#" class="flex justify-center items-center">
          <%=image_tag 'xrp.svg'%>
          <span class="ml-4 font-bold text-2xl text-gray-50"> XRP </span>
        </a>
      </div>
    </div>
  </section>
</div>

<section class="bg-white dark:bg-gray-900 pt-10">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Explore Our Books</h2>
      <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
    </div>
    <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
      <div class="flex flex-col p-6 mx-auto max-w-lg text-gray-900 bg-white border-gray-800 border-2 rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white mt-8">
        <%= image_tag 'doughnuts_book.png' %>
        <h3 class="mb-4 text-2xl font-semibold pt-4">Doughtnuts and Doom</h3>
        <a href="#" class="inline-flex items-center text-blue-500 xl:text-xl font-medium rounded-lg text-base py-3.5 text-center">
          View Book Details
          <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      </div>

      <div class="flex flex-col p-6 mx-auto max-w-lg text-gray-900 bg-white rounded-lg border-2 border-gray-800 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
        <%= image_tag 'luck_book.png' %>
        <h3 class="mb-4 text-2xl font-semibold pt-4">The Bend of Luck</h3>
        <a href="#" class="inline-flex items-center text-blue-500 xl:text-xl font-medium rounded-lg text-base py-3.5">
          View Book Details
          <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      </div>

      <div class="flex flex-col p-6 mx-auto max-w-lg  text-gray-900 bg-white rounded-lg border-2 border-gray-800 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
        <%= image_tag 'underwater_welder.png' %>
        <h3 class="mb-4 text-left text-2xl font-semibold pt-4">The Underwater Welder</h3>
        <a href="#" class="inline-flex text-left text-blue-500 text-xl  font-extrabold rounded-lg text-base py-3.5">
          View Book Details
          <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-sky-900 dark:bg-gray-900 pt-10">
  <div class="px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-12">
      <p class="mb-4 text-2xl tracking-tight font-extrabold text-yellow-400 dark:text-white pb-4">LOREM IPSUM</p>
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white dark:text-white pb-8">3 Reasons To Shop With Us</h2>
    </div>
    <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
      <div class="flex flex-col p-6 mt-10">
        <%= image_tag('package-box.svg', height: 60, width: 60, class: 'pb-5') %>
        <h3 class="mb-4 text-2xl font-bold pt-4 text-white">All textbook rentals come with free return shipping.</h3>
        <p class="max-w-2xl mb-6 font-light text-white font-semibold lg:mb-8 md:text-lg lg:text-xl">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.</p>
      </div>
      <div class="flex flex-col p-6">
        <%= image_tag('help.svg', height: 60, width: 60, class: 'pb-5') %>
        <h3 class="mb-4 text-2xl font-bold pt-4 text-white">Dedicated customer support and help portal.</h3>
        <p class="max-w-2xl mb-6 font-light text-white font-semibold lg:mb-8 md:text-lg lg:text-xl">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.</p>
      </div>
      <div class="flex flex-col p-6 ">
        <%= image_tag('piggy-bank.svg', height: 60, width: 60, class: 'pb-5') %>
        <h3 class="mb-4 text-2xl font-bold pt-4 text-white">Buy or rent cheap textbooks & save up to $500 per year!</h3>
        <p class="max-w-2xl mb-6 font-light text-white font-semibold lg:mb-8 md:text-lg lg:text-xl">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore Stet clita kasd gubergren, no sea takimata.</p>
      </div>
    </div>
  </div>
</section>

<section class="mx-auto bg-gray-100">
  <div class="px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <h1 class="mb-4 text-blue-900 xl:text-4xl text-4xl text-center font-extrabold leading-none md:text-4xl xl:text-4xl dark:text-white my-10 pb-10">Frequently Asked Question</h1>
    <div id="accordion-collapse" data-accordion="collapse">
      <h2 id="accordion-collapse-heading-1">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left rounded-t-xl" data-accordion-target="#accordion-collapse-body-1" aria-expanded="false" aria-controls="accordion-collapse-body-1">
          <span class="font-extrabold text-xl text-indigo-700">Dedicated customer support and help portal.</span>
          <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </h2>
      <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
        <div class="p-5 font-light">
          <p class="mb-2 text-gray-500 dark:text-gray-400">With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
        </div>
      </div>
      <h2 id="accordion-collapse-heading-2">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
          <span class="font-extrabold text-xl text-indigo-700">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
          <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </h2>
      <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
        <div class="p-5 font-light">
          <p class="mb-2 text-gray-500 dark:text-gray-400">With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
        </div>
      </div>
      <h2 id="accordion-collapse-heading-3">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
          <span class="font-extrabold text-xl text-indigo-700">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
          <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </h2>
      <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
        <div class="p-5 font-light">
          <p class="mb-2 text-gray-500 dark:text-gray-400">With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
        </div>
      </div>
      <h2 id="accordion-collapse-heading-4">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
          <span class="font-extrabold text-xl text-indigo-700">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
          <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </h2>
      <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
        <div class="p-5 font-light">
          <p class="mb-2 text-gray-500 dark:text-gray-400">With our dedicated customer support team, you can rest easy knowing that we’re doing everything we can to save you time, money, and stress.</p>
        </div>
      </div>
    </div>
  </div>
</section>

